@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');





body{
    background: linear-gradient(to right, blue, pink);
    font-family: 'Bebas Neue', cursive;
}
.message{
    margin-top: 50px;
    height: 50px;
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 50px;
    font-family: 'Bebas Neue', cursive;
}
.h1{
    visibility: hidden;
}
.buttonx{
    margin-top: 20px;
    position: relative;
    font-size: large;
    padding: 15px 30px;
    border-radius: 15px;
}
.game{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 300px;
    font-family: 'Bebas Neue', cursive;
}

.row{
    height: 32%;
    font-family: 'Bebas Neue', cursive;
}

.col{
    height: 100%;
    width: 32%;
    border: 2px solid black;
    float: left;
    font-family: 'Bebas Neue', cursive;

    font-size: 70px;
    font-weight: bolder;
    color: black;
    text-align: center;
    cursor: pointer;
}